
html{
    scroll-behavior: smooth;
}
/*Colour variables*/
:root{
    --bg:#050816;
    --bg-secondary:#0d1229;
    --card:#11172e;
    --primary:#8b5cf6;
    --secondary:#38bdf8;
    --accent:#c084fc;
    --text:#f8fafc;
    --text-light:#94a3b8;
    --border:rgba(255,255,255,.08);
    --shadow:0 15px 35px rgba(0,0,0,.45);
}
/* Navigation */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Poppins",sans-serif;
    background:
        radial-gradient(circle at top,#18204d 0%,transparent 40%),
        radial-gradient(circle at bottom,#3b0764 0%,transparent 45%),
        #050816;

    color:var(--text);
    overflow-x:hidden;
}

body::before{

    content:"";

    position:fixed;

    inset:0;

    background-image:

    radial-gradient(white 1px, transparent 1px),

    radial-gradient(white .8px, transparent .8px),

    radial-gradient(#8b5cf6 1px, transparent 1px);

    background-size:

    180px 180px,

    250px 250px,

    320px 320px;

    opacity:.25;

    pointer-events:none;

    animation:stars 90s linear infinite;
}

@keyframes stars{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-400px);
    }

}
.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:92%;

    max-width:1400px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 40px;

    border-radius:18px;

    background:rgba(17,23,46,.55);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:var(--shadow);

    z-index:1000;
}